@import '/styles/variables';

.wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1.5rem 2rem;
  > * {
    flex-basis: 20vw;
  }
}
.navbar {
  text-align: center;
  a {
    color: $highlight-color;
    font-size: 1.3rem;
    margin: 0 1.1rem;
    font-weight: 300;
    transition: 100ms;
    &:hover{
      color: $darker-highlight-color;
    }
  }
}
.profileSection {
  flex-direction: row-reverse;
  display: flex;
  text-align: end;
  .picture {
    position: relative;
    width: 40px;
    border-radius: 50%;
    overflow: hidden;
    border: 3px solid $highlight-color;
    height: 40px;
    transition: 300ms;
    background-color: white;
    &:hover {
      transform: scale(1.1);
      border-color: red;
    }
  }
}
