@import '/styles/variables';

.Wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1.5rem 2rem;
  background-color: black;
  > * {
    flex-basis: 20vw;
  }
  .navWrapper {
    a {
      color: $highlight-color;
      font-size: 1.3rem;
      margin: 0 1.1rem;
      font-weight: 300;
      transition: 100ms;
      &:hover{
        color: $darker-highlight-color;
      }
    }
  }
  .profileSection {
    flex-direction: row-reverse;
    display: flex;
    text-align: end;
    .profilePictureWrapper {
      position: relative;
      width: 80px;
      border-radius: 50%;
      overflow: hidden;
      border: 5px solid $highlight-color;
      height: 80px;
      transition: 300ms;
      background-color: white;
      &:hover {
        transform: scale(1.03);
      }
    }
  }
}
