@import '/styles/variables';

.carousel :global {
  .slick-slide,
  .slick-center,
  .slick-current,
  .slick-dots,
  .slick-active {
    transition: 500ms;
  }
  .slick-dots {
    position: relative;
    margin-top: 1.5rem;
  }
  .slick-dots button:before {
    opacity: 1;
    font-size: 1rem;
    color: $highlight-color;
 }
  .slick-dots .slick-active {
    opacity: 1;
    color: black;
    font-size: 1rem;
    -webkit-text-stroke: 2px $highlight-color;
  }
  .slick-slide {
    transform: scale(0.9);
  }
  .slick-center {
    transform: scale(1);
  }
}
