.bannerContainer {
  height: 70vh;
  position: relative;
}
.title {
  font-weight: 300;
  position: absolute;
  bottom: 0.5rem;
  left: 2rem;
  color: white;
  z-index: 1000;
}
.banner {
  border-radius: 5px;
  position: absolute;
}