html,
body {
  scroll-behavior: smooth;
  background-color: black;
  font-size: 12px;
  font-family: 'Ubuntu', sans-serif;
  color: white;
}
p {
  white-space: pre-line;
}
* {
  box-sizing: border-box;
  text-decoration: none;
  padding: 0;
  margin: 0;
}
